<div class="header">
        <a href="index.html">
          <%= image_tag 'logo_crediclub.png' %>
        </a>
</div>

<div class="row-fluid login-wrapper">
	<div class="awaiting_confirmation">
		

	<h1>¡Bienvenido!</h1>
	<h2>Tu cuenta ha sido creada con éxito</h2>
	<h3>Ahora solo debes confirmar tu correo electrónico</h3>
	<p>Hemos enviado un mensaje a tu correo electrónico con un enlace para activar tu cuenta cuenta.</p>

	</div>
</div>