#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number= "40.34"  "#{@completion_average}"
        
      %span.date Préstamos activos
    .span3.stat
      .data
        %span.number 0
        
      %span.date Capital en préstamos
    .span3.stat
      .data
        %span.number 0
        
      %span.date  Préstamos en atraso
    .span3.stat.last
      .data
        %span.number 0
        
      %span.date Cuotas en atraso
#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number 68
        
      %span.date Efectivo en caja
    .span3.stat
      .data
        %span.number 20
        
      %span.date Cuotas en atraso
    .span3.stat
      .data
        %span.number 0
        
      %span.date Solicitudes pendientes
    .span3.stat.last
      .data
        %span.number 0
        
      %span.date Lorem ipsum dolor



#container-fluid
  #pad-wrapper  
    .row-fluid
      %h4.title Histórico de pagos
      .span12
        %h5 xxx
        %br/
        #hero-area{:style => "height: 250px;"}