#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number= @loans_count
        
      %span.date Préstamos activos
    .span3.stat
      .data
        %span.number= number_to_currency(@total_lending, unit: '$')
        
      %span.date Capital en préstamos
    .span3.stat
      .data
        %span.number 0
        
      %span.date  -
    .span3.stat.last
      .data
        %span.number 0
        
      %span.date Cuotas en atraso
#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number 0
        
      %span.date Efectivo en caja
    .span3.stat
      .data
        %span.number= number_to_currency(@available_for_loans, unit: '$')
        
      %span.date Cuotas en atraso
    .span3.stat
      .data
        %span.number 0
        
      %span.date Solicitudes pendientes
    .span3.stat.last
      .data
        %span.number 0
        
      %span.date Lorem ipsum dolor




.container-fluid
  #pad-wrapper
    / morris stacked chart
    .row-fluid
      %h4.title Pagos
      .span12
        %h5 Cumplimiento de pagos
        %br/
        #hero-area{:style => "height: 250px;"}