- content_for :on_ready do
  Morris.Area({
  element: 'hero-area',
  behaveLikeLine: true,
  data: [
  {period: '2010 Q1', iphone: 2666, ipad: null},
  {period: '2010 Q2', iphone: 2778, ipad: 2294},
  {period: '2010 Q3', iphone: 4912, ipad: 1969},
  {period: '2010 Q4', iphone: 3767, ipad: 3597},
  {period: '2011 Q1', iphone: 6810, ipad: 1914},
  {period: '2011 Q2', iphone: 5670, ipad: 4293},
  {period: '2011 Q3', iphone: 4820, ipad: 3795},
  {period: '2011 Q4', iphone: 15073, ipad: 5967},
  {period: '2012 Q1', iphone: 10687, ipad: 4460},
  {period: '2012 Q2', iphone: 8432, ipad: 5713}
  ],
  xkey: 'period',
  ykeys: ['iphone', 'ipad'],
  labels: ['Pagos en fecha', 'Pagos Atrasado'],
  lineWidth: 2,
  hideHover: 'auto',
  lineColors: ["#81d5d9", "#a6e182"]
  });

#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number= @loans_count
        
      %span.date Préstamos activos
    .span3.stat
      .data
        %span.number= number_to_currency(@total_lending, unit: '$')
        
      %span.date Capital en préstamos
    .span3.stat
      .data
        %span.number 0
        
      %span.date  -
    .span3.stat.last
      .data
        %span.number 0
        
      %span.date Cuotas en atraso
#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number 0
        
      %span.date Efectivo en caja
    .span3.stat
      .data
        %span.number= number_to_currency(@available_for_loans, unit: '$')
        
      %span.date Cuotas en atraso
    .span3.stat
      .data
        %span.number 0
        
      %span.date Solicitudes pendientes
    .span3.stat.last
      .data
        %span.number 0
        
      %span.date Lorem ipsum dolor




.container-fluid
  #pad-wrapper
    / morris stacked chart
    .row-fluid
      %h4.title Pagos
      .span12
        %h5 Cumplimiento de pagos
        %br/
        #hero-area{:style => "height: 250px;"}