#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number= "40.34"  "#{@completion_average}"
        
      %span.date Disponible para préstamos
    .span3.stat
      .data
        %span.number 10.36
        
      %span.date Total desembolsado
    .span3.stat
      .data
        %span.number 000
        
      %span.date Préstamos emitidos
    .span3.stat.last
      .data
        %span.number 000
        
      %span.date Solicitudes pendientes
#main-stats
  .row.row-fluid.stats-row
    .span3.stat
      .data
        %span.number 68%
        
      %span.date Cumplimiento de pago
    .span3.stat
      .data
        %span.number 20
        
      %span.date En mora
    .span3.stat
      .data
        %span.number 000
        
      %span.date Sit amet isum
    .span3.stat.last
      .data
        %span.number 000
        
      %span.date Lorem ipsum dolor



#container-fluid
  #pad-wrapper  
    .row-fluid
      %h4.title Histórico de pagos
      .span12
        %h5 xxx
        %br/
        #hero-area{:style => "height: 250px;"}