#pad-wrapper.user-profile
  .row.header
    .col-md-8
      %h3.name
        Perfil
        /= @profile.name
      %span.area xx
    = link_to '#', class: 'btn-flat success pull-right' do
      Guardar

  .row.form-wrapper
    .col-md-9.with-sidebar
      = render 'form'


