.navbar.navbar-inverse
  .navbar-inner
    %button#menu-toggler.btn.btn-navbar.visible-phone{:type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = image_tag 'logo_crediclub.png', class: 'brand'
    %ul.nav.pull-right
      %li.dropdown
        = link_to 'Your account', profile_users_path
      - if user_signed_in?
        %li.settings.hidden-phone
          = link_to('<i class="icon-share-alt"></i>'.html_safe, destroy_user_session_path, :method => :delete)
