/ sidebar
#sidebar-nav
  %ul#dashboard-menu
    %li{class: "#{'active' if controller_name == 'dashboard'}"}
      - if controller_name == 'dashboard'
        .pointer
          .arrow
          .arrow_border
      = link_to root_path do 
        %i.icon-home
        %span Inicio
    %li{class: "#{'active' if controller_name == 'profiles'}"}
      - if controller_name == 'profiles'
        .pointer
          .arrow
          .arrow_border
      = link_to profiles_path do 
        %i.icon-user
        %span Perfiles
    %li
      %a{:href => profiles_path}
        %i.icon-money
        %span Préstamos
    %li
      %a{:href => profiles_path}
        %i.icon-edit
        %span Solicitudes