/ sidebar
#sidebar-nav
  %ul#dashboard-menu
    %li{class: "#{'active' if controller_name == 'users'}"}
      - if controller_name == 'users'
        .pointer
          .arrow
          .arrow_border
      = link_to profile_users_path do 
        %i.icon-user
        %span Perfile
