#pad-wrapper.users-list
  .row.header
    %h1= "Hola #{current_user.name}"
    .col-md-10.col-sm-12.col-xs-12.pull-right
      = link_to 'Solicita tu préstamo hoy', :class => 'btn-flat success pull-right' do
        %span +
        Solicita tu préstamo
