table#amortization-table.table-striped {
  tr.highlighted {
    background-color: #ffff99 !important;
  }

  > tbody > tr:nth-child(odd).highlighted > td {
    background-color: #ffff99;
  }

  > tbody > tr:nth-child(odd) > td.highlighted {
    background-color: #ffff99;
  }
}