#pad-wrapper.new-user
  .row.header
    .col-md-12
      %h3 Nuevo Depósito
  .row.form-wrapper
    .col-md-9.with-sidebar
      = render 'form'

  /= link_to 'Show', @admin_desposit
  /\|
  /= link_to 'Back', admin_deposits_path
